@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@section Styles{
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

}

<p>Use this page to detail your site's privacy policy.</p>
<button class="btn btn-primary"><i class="fa-solid fa-house"></i>HOME</button>
