<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-CultureName="en-US">@WebResource.English</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-CultureName="zh-TW">@WebResource.Chinese</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-CultureName="ja">@WebResource.Japanese</a>
    </li>
</ul>